#centerDiv {
    margin: auto;
    width: 773px;
    margin-top: 3%;
    border-radius: 15px;
}

#innerDiv td:nth-child(3), td:nth-child(3) input, td:nth-child(4), td:nth-child(4) input, td:nth-child(5), td:nth-child(5) input, td:nth-child(6), td:nth-child(6) input {
    width: 100px;
    box-sizing: border-box;
}

#innerDiv td:nth-child(1), td:nth-child(1) input, td:nth-child(2), td:nth-child(2) input {
    width: 140px;
    box-sizing: border-box;
}

#addTable {
    font-size: 11px;
}